<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <% i = 65 %>
    <% board.board_state.each_value do |row| %>
    <tr>
      <td><strong><%= i.chr %></strong> </td>
      <% i += 1 %>
      <% row.each do |space| %>
        <% if space == 0 %>
          <td class="empty"> <%= '[ _ ]' %> </td>
        <% elsif space == 1 %>
          <td class=" miss"><%= "[ X ]" %></td>
        <% elsif space == 2 %>
          <% if my_board == true %>
            <td class="ship"><%= "[ O ]" %></td>
          <% else %>
            <td class="empty"><%= "[ _ ]" %> </td>
          <% end %>
        <% elsif space == 3 %>
          <td class="hit-ship"> <%= "[ H ]" %></td>
        <% end %>
      <% end %>
    <% end %>
    </tr>
    </tbody
  </table>
