<table>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>0</th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
    </tr>
  </thead>
  <tbody>
    <% i = 65 %>
    <% board.board_state.each_value do |row| %>
    <tr>
      <td><strong><%= i.chr %></strong> </td>
      <% i += 1 %>
      <% row.each do |space| %>
        <td>
        <% if space == 0 %>
          <%= '[ _ ]' %>
        <% elsif space == 1 %>
          <%= "[ X ]" %>
        <% elsif space == 2 %>
          <% if my_board == true %>
            <%= "[ O ]" %>
          <% else %>
            <%= "[ _ ]" %>
          <% end %>
        <% elsif space == 3 %>
          <%= "[ H ]" %>
          <% end %>
        <% end %>
        <td>
      <% end %>
    </tr>
  </tbody
</table>
