

<% if session != nil && session[:user_id] != nil %>
  <h4> Welcome <%= User.find(session[:user_id]).name %> </h4>
<%end%>

  <% if @games.count != 0%>
  <h3>Join an ongoing game:</h3>
    <table>
      <% @games.each do |game| %>
        <tr>
          <% if game.boards.count == 1 %>
          <td><%= link_to "Game #{game.id}", "/games/#{game.id}/place" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  <h3> Rejoin a game </h3>
    <table>
      <% @games.each do |game| %>
        <tr>
          <% if game.winner_id == nil && game.users.find(session[:user_id]) %>
          <td><%= link_to "Game #{game.id}", "/games/#{game.id}" %></td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <h3> Or Create a Game </h3>
  <%end%>

<div id="start-game">
  <%= link_to "Start", "/games/new", style: "#{'display:none' if session[:user_id] == nil}" %>
</div>

<br>

<p> Create or change your name:</p>

<div id="new-user">
  <%= form_tag("/users", method: "post") do %>
    <%= text_field_tag 'name' %>
    <%= submit_tag ("Submit") %>
  <% end %>
</div>




